h1,
h2 {
  margin: 0;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}

.left,
.right {
  display: flex;
}
