h1,
h2 {
  margin: 0;
}

.folder {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}

.left,
.right {
  display: flex;
}

.items,
.items.open {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  gap: 4px;
}

.items {
  display: none;
}
